@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------- */

* {
  @apply transition-all;
}

*::selection {
  @apply bg-orange-400 text-black;
}

body {
  font-synthesis: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-100 cursor-default select-none text-neutral-800 dark:bg-neutral-900 dark:text-neutral-200;
}

a,
button {
  cursor: default;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

/* -------------------------------------------------- */

.balance-overflow {
  scrollbar-gutter: stable;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}