@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply cursor-default select-none;
}

*::selection {
  @apply bg-orange-400 text-black;
}

button {
  cursor: default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

.balance-overflow {
  scrollbar-gutter: stable;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}